<head>
    <title>Leave a comment!</title>
</head>
    <body>
        <div class="title">
            <h1>Make a comment</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/comment">
                <label for="caption">Comment:</label>
                <input type="text" name="commentt" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
	
<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/profile'>Profile</a></li>
<li><a href='/search'>Find users</a></li> 
<li><a href='/findtag'>Find photos by tag</a></li> 
<li><a href='/friend'>Add friend</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/top'>Top Users</a></li>
<li><a href='/toptags'>Top Tags</a></li>
<li><a href='/tagreccs'>Find Recommended Tags</a></li>
<li><a href='/reccs'>Find Recommended Pictures</a></li>
</ul>
