<head>
</head>
    <body>
        <div id="content">
            <form method="post" action="{{ url_for('friend_user') }}">
                <p>Confirm?</p>
                <input type="submit" />
            </form>
         </div>
    </body>

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/profile'>Profile</a></li>
<li><a href='/search'>Find users</a></li> 
<li><a href='/findtag'>Find photos by tag</a></li> 
<li><a href='/friend'>Add friend</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
<li><a href='/top'>Top Users</a></li>
<li><a href='/toptags'>Top Tags</a></li>
<li><a href='/tagreccs'>Find Recommended Tags</a></li>
<li><a href='/reccs'>Find Recommended Pictures</a></li>
</ul>