<form action="/register/" method="POST">
						<p>Star(*) denotes required information</p>
						<div class="form-group" id="#signup-form">
							<input type="text" class="form-control" placeholder="First Name" name="firstname"><span>*</span>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name" name="lastname"><span>*</span>
						</div>

						<div class="form-group">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email"><span>*</span>
						</div>
						
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password"><span>*</span>
						</div>

						<div class="form-group">
							<input type="date" class="form-control" placeholder="date of birth (format:1994-12-12)" name="birthday"><span>*</span>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Hometown" name="hometown">
						</div>
						
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Bio" name="bio">
						</div>

						<div class="form-group">
							<input type="radio"
							       class="form-control"
							       placeholder="Gender"
							       name="gender"
							       value =
							       "Female">Female<br>
							<input type="radio"
							       class="form-control"
							       placeholder="Gender"
							       name="gender"
							       value =
							       "Male">Male<br>
							<input type="radio"
							       class="form-control"
							       placeholder="Gender"
							       name="gender"
							       value =
							       "Other">Other<br>
							
						</div>

						<label for="photo">Select photo:</label>
						<input type="file" name="photo"/><br />
						
						<br>
						
						<button type="submit" value="Search" class="btn btn-default submit">Sign Up Now!</button>
					</form>
